@using System.Threading.Tasks

@model AdminNetBaires.ViewModels.MemberViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Member</h4>
        <hr />
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Calification"></label>
            <div class="col-md-10">
                <input asp-for="Calification" class="form-control" />
                <span asp-validation-for="Calification"></span>
            </div>
        </div>
        <div>
            <label asp-for="Email"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div>
            <label asp-for="ExternaId"></label>
            <div class="col-md-10">
                <input asp-for="ExternaId" />
                <span asp-validation-for="ExternaId"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <div class="col-md-10">
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>

            </div>
        </div>
        <div>
            <label asp-for="Name"></label>
            <div>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </div>
    </div>
</form>