@using System.Threading.Tasks
@using AdminNetBaires.ViewModels
@model MembersIndexViewModel
@{
    ViewBag.Title = "Lista de Members";
}

@foreach (MemberViewModel item in Model.Members)
{
    @Html.Partial("_Summary", item)
}

<div>
    <a asp-action="Create">Create</a>
</div>
