
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>

    <ul>
        <li><a asp-area="" asp-controller="Members" asp-action="Index">Members</a></li>
        <li><a asp-area="" asp-controller="Members" asp-action="Create">Member Create</a></li>
        
    </ul>
</body>
</html>