@*@using System.Threading.Tasks
@using AdminNetBaires.Models
@model MemberViewModel*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
   
@*<h3>@Model.Email</h3>*@
    
</body>
</html>