@using System.Threading.Tasks
@using AdminNetBaires.Models
@model IEnumerable<MemberViewModel>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
   
<table>
    @foreach (MemberViewModel item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
        </tr>
    }
</table>
</body>
</html>